ePlus SPC/Service References/Server.SyncService/SyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://espc.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://espc.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://espc.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetServerLastUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:SyncRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SyncRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:GenericRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ClientVersion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GenericRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IpAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TerminalId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActionKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InterfaceId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PcId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="myManagementAction" type="tns:ManagementActions" />
          <s:element minOccurs="1" maxOccurs="1" name="SessionKey" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaIni" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaFin" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="codigoVuelo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ManagementActions">
        <s:restriction base="s:string">
          <s:enumeration value="NOTHING" />
          <s:enumeration value="INSERT" />
          <s:enumeration value="UPDATE" />
          <s:enumeration value="DELETE" />
          <s:enumeration value="QUERY" />
          <s:enumeration value="REPLICATED" />
          <s:enumeration value="REFRESH" />
          <s:enumeration value="EXPORT" />
          <s:enumeration value="SEARCH" />
          <s:enumeration value="PRINT" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetServerLastUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerLastUpdateResult" type="tns:SyncResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SyncResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:GenericResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ServerLastUpdate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="dsResult">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GenericResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ActionResult" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServerLastUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerLastUpdate" />
  </wsdl:message>
  <wsdl:message name="GetServerLastUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerLastUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncServiceSoap">
    <wsdl:operation name="GetServerLastUpdate">
      <wsdl:input message="tns:GetServerLastUpdateSoapIn" />
      <wsdl:output message="tns:GetServerLastUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncServiceSoap" type="tns:SyncServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerLastUpdate">
      <soap:operation soapAction="http://espc.org/GetServerLastUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncServiceSoap12" type="tns:SyncServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerLastUpdate">
      <soap12:operation soapAction="http://espc.org/GetServerLastUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncService">
    <wsdl:port name="SyncServiceSoap" binding="tns:SyncServiceSoap">
      <soap:address location="http://localhost:56942/eSPCWebServicesLayer/SyncService.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncServiceSoap12" binding="tns:SyncServiceSoap12">
      <soap12:address location="http://localhost:56942/eSPCWebServicesLayer/SyncService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>